body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;


}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: rgb(128, 45, 0);
    align-items: center;
    padding: 10px;
    width: 600px;
    row-gap: 10px;
    margin: 20px;
}
.box{
    background-color: #4c6baf;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.box:hover{
    background-color: #ad6fcf;
    cursor: pointer;
}

p{
    text-align: center;
    font-size: 20px;
    color: #333;
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}
.round-border{
    border-radius: 15px;
}
button{
    background-color: aqua;
    width: 100px;
    height: 30px;
    padding: 20px;
    text-align: left;
    color: black;
}